## Import in CSV

In [136]:
import pandas as pd

data = pd.read_csv("/Users/andrewlee/Projects/nba model/NBA-Statistic-Scrapper-and-Model/player_stats_updated.csv")

data_columns = data.columns.tolist()

## Convert Minutes Column from String to Int

In [96]:
data["MIN"] = data["MIN"].str.replace(",", "").astype(int)

## Convert Season from String to Int

In [97]:
data["SEASON"] = data["SEASON"].str[:2] + data['SEASON'].str[5:]

In [98]:
data["SEASON"] = data["SEASON"].astype(int)

## Convert Age from String to Int

In [99]:
data["AGE"] = data["AGE"].str[0:2].astype(int)

## Convert Experience into Int

In [100]:
def convert_to_int(word):
    try:
        return int(word.split(" ")[0])
    except ValueError:
        return None

data["EXPERIENCE"] = data["EXPERIENCE"].apply(convert_to_int)
data = data.dropna(subset=["EXPERIENCE"])
data["EXPERIENCE"] = data["EXPERIENCE"].astype(int)

In [101]:
from datetime import datetime

def convert_to_datetime(date_string):
    date_object = datetime.strptime(date_string, "%B %d, %Y")
    return date_object

data["BIRTHDAY"] = data["BIRTHDATE"].apply(convert_to_datetime)

data.drop("BIRTHDATE", axis = 1, inplace = True)

## Creating Database in SQL and Adding in Our Data

### Creating the Database

In [ ]:
import psycopg2

pgconn = psycopg2.connect(
    host='localhost',
    user='postgres',
    password='TAnk2004',
    database='postgres')

In [129]:
pgcursor = pgconn.cursor()

In [130]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT 
pgconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [ ]:
# Dropping the database
pgcursor.execute('DROP DATABASE IF EXISTS player_stats')

In [110]:
# Create the database
pgcursor.execute('CREATE DATABASE player_stats')

In [111]:
pgconn.commit()

In [112]:
pgconn.close()

### Actually Importing in Our Data

In [134]:
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:TAnk2004@localhost/player_stats')

In [121]:
# Putting in our data into our database

data.to_sql('player_stats_table', engine, if_exists='replace', index=False)

144

## Making Queries

In [ ]:
pgconn = psycopg2.connect(
    host='localhost',
    user='postgres',
    password='TAnk2004',
    database='player_stats')

In [ ]:
pgcursor = pgconn.cursor()

In [ ]:
pgcursor.execute('SELECT \'BIRTHDAY\' FROM player_stats_table')

In [164]:
pgcursor.close()